<p id="notice"><%= notice %></p>

<h1>Listing Gameusers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gameusers.each do |gameuser| %>
      <tr>
        <td><%= link_to 'Show', gameuser %></td>
        <td><%= link_to 'Edit', edit_gameuser_path(gameuser) %></td>
        <td><%= link_to 'Destroy', gameuser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gameuser', new_gameuser_path %>
